@import '../mixin';
@import '../vars';
   
//filter

.prod-filter-overlay
   position: fixed
   right: 0
   top: 0
   z-index: $cart-menu-overlay-z-index
   width: 100%
   height: 100vh
   background: rgba($blue, 0)
   visibility: hidden
   transition: all 0.4s ease


.prod-filter
   position: fixed
   left: -100%
   top: 0
   z-index: $cart-menu-z-index
   width: 450px
   height: 100vh
   background: $dark
   color: $white
   transition: all 0.3s ease
   display: flex
   flex-direction: column
   justify-content: space-between

//filter


.start-img
   width: 100%
   height: 750px
   background: url('../img/slide-1.jpg') center/cover no-repeat
   &__content
      text-align: center
      margin: 21.4rem auto
      color: $white
      &__list
         display: flex
         align-items: center
         justify-content: center
         &__item
            margin-top: 1.6rem
            padding: 0 1.26rem
            &>a
               display: inline-block
               color: $white
               text-decoration: none
               position: relative
               padding: 0.5rem 0
               &:hover
                  color: $white
                  text-decoration: none
               @include after-line($white)



.filters
   &-flex
      padding: 2.4rem 2rem
      width: 100%
      display: flex
      flex-direction: row
      align-items: center
      justify-content: space-between
   &__left
      .bradcrumbs
         color: $dark-light
         &>a
            color: $dark-light
            transition: all 0.2s ease
            &:hover
               color: $dark
   &__right
      &__list
         display: flex
         flex-direction: row
         justify-content: flex-end
         align-items: center
         &__item
            display: inline-flex
            border-right: 2px solid $dark
            padding: 0 0.7rem
            &:last-child
               border-right: none
            button
               border: none
               background: none
               display: inline-flex
               align-items: center
               padding: 0
               margin: 0
               font-family: 'Jost'
               font-size: 1rem
               font-weight: 400
               color: $dark
               letter-spacing: 0.05rem
               position: relative
               @include after-line($dark)
            .filter-button
               padding-right: 0.3rem
            .sort-button
               padding-left: 0.3rem
            .grid-button-active
               svg
                  &:first-child
                     opacity: 1 !important
                  &:last-child
                     opacity: 0 !important
               &::after
                  width: 100%
            .grid-button
               position: relative
               width: 33px
               height: 33px
               margin: 0 0.3rem 0 0
               svg
                  position: absolute
                  top: 0
                  left: 0
                  transition: all 0.2s ease
                  &:first-child
                     opacity: 0
                  &:last-child
                     opacity: 1
               &:last-child
                  margin: 0



.products
   padding: 0 2rem
   .products__list
      transition: all 0.3s ease
   .fore-item
      display: flex
      flex-direction: row
      width: 100%
      flex-wrap: wrap
      .big-products__list__item
         width: calc( (100vw - 12rem) / 4 )
         margin-bottom: 3rem
         margin-right: 2rem
         &:nth-child(4)
            margin-right: 0
         &:nth-child(8)
            margin-right: 0
         &:nth-child(12)
            margin-right: 0
         .product-cart
            max-width: 100%
            .product-cart__top
               width: 100%
               height: calc( (100vw - 12rem) / 4 )
            .product-cart__bottom
               &__left
                  .additing-block-information
                     display: none
               &__right
                  display: none
   .five-item
      display: flex
      flex-direction: row
      width: 100%
      flex-wrap: wrap
      .big-products__list__item
         width: calc( (100vw - 14rem) / 5 )
         margin-bottom: 3rem
         margin-right: 2rem
         &:nth-child(5)
            margin-right: 0
         &:nth-child(10)
            margin-right: 0
         &:nth-child(15)
            margin-right: 0
         .product-cart
            max-width: 100%
            .product-cart__top
               width: 100%
               height: calc( (100vw - 14rem) / 5 )
            .product-cart__bottom
               &__left
                  .additing-block-information
                     display: none
               &__right
                  display: none
   .list-item
      display: flex
      flex-direction: row
      width: 100%
      flex-wrap: wrap
      .big-products__list__item
         width: calc( (100vw - 8rem) / 2 )
         margin-bottom: 3rem
         margin-right: 2rem
         &:nth-child(2)
            margin-right: 0
         &:nth-child(4)
            margin-right: 0
         &:nth-child(6)
            margin-right: 0
         &:nth-child(8)
            margin-right: 0
         &:nth-child(10)
            margin-right: 0
         &:nth-child(12)
            margin-right: 0
         .product-cart
            max-width: 100%
            display: flex
            &__top
               width: 400px
               height: 400px
            &__bottom
               padding: 2.53rem 2.2rem
               &__left
                  &__links
                     margin: 1rem 0
               &__right
                  display: none

.paggination
   margin-top: 4rem
   display: flex
   flex-direction: row
   justify-content: center
   .page-arrow
      width: 48px
      height: 48px
      display: flex
      justify-content: center
      align-items: center
      background: $light
      transition: all 0.3s ease 
      &:hover
         background: rgba($line_gray, 0.6)
   .prev-no
      opacity: 0.3
      background: none
      &:hover
         background: none
   .page-prev
      margin-right: 2rem
   .page-next
      margin-left: 2rem
   &__list
      display: flex
      flex-direction: row
      .active-page
         background: $light
      &__item
         width: 48px
         height: 48px
         display: flex
         justify-content: center
         align-items: center
         background: none
         border: 2px solid $light
         margin-right: 1rem
         transition: all 0.3s ease 
         &:last-child
            margin-right: 0
         &:hover
            background: $light
         &>a
            font-size: 1rem
            font-family: 'Jost'
            font-weight: 500
            letter-spacing: 0.05rem
            color: $dark